.background {
  background: center no-repeat url(https://webcast.webspot.com.br/cast/img/background.png);
}

.logo {
  background-image: url(https://webcast.webspot.com.br/cast/img/logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://webcast.webspot.com.br/cast/img/logo.png);
}

.watermark {
  background-image: url(https://webcast.webspot.com.br/cast/img/logo.png);
  background-size: 57px 57px;
}

